<%= paginate @items %>
<p class="notice"><%= notice %></p>
<% if(@items.size < 1) %>
  <p class="item">No Items</p>
<% else %>
  <% @items.each do |item| %>
    <div class="item">
      <%= render item %>
      <span><%= link_to 'Show', item %></span>
    </div>
  <% end %>
<% end %>
<%= link_to 'About', 'page/about' %>
<%= link_to 'Contact', 'page/contact' %>
